<h2>Cosulta CEP</h2>

<input placeholder="CEP" type="text" [(ngModel)]="cep">

<button (click)="consultar()">Consultar CEP</button>

<br><br>
<img src="../../../assets/loading.gif" alt="loading" width="150px" *ngIf="isLoading">

<div *ngIf="endereco">
  <p>{{endereco.cep}}</p>
  <p>{{endereco.logradouro}}</p>
  <p>{{endereco.complemento}}</p>
  <p>{{endereco.bairro}}</p>
  <p>{{endereco.localidade}}</p>
  <p>{{endereco.uf}}</p>
  <p>{{endereco.ibge}}</p>
  <p>{{endereco.gia}}</p>
  <p>{{endereco.ddd}}</p>
  <p>{{endereco.siafi}}</p>
</div>


