.menu{
  display: flex;
  padding-inline-start: 0;
}

.menu li{
  list-style: none;
  background-color: rgba(149, 2, 81, 0.623);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin:5px;
  border-radius: 25px;
  box-shadow: 2px 3px 5px black;
}

.menu li:hover{
  background-color: rgba(139, 5, 173, 0.849) ;
  transition: background-color 0.5s;
}

.menu a{
  text-decoration: none;
  color: white;

}
